@model LeaderBoardQueryModel
@{ 
    ViewBag.Title = "LeaderBoard";
} 
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">UserName</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Points</th>
        </tr>
    </thead>
    <tbody>
        @{var number = 1 + (Model.CurrentPage-1) * 10;}
        @foreach (var leader in Model.Leaders)
        {
            <tr>
                <th scope="row">@number</th>
                <td>@leader.</td>
                <td>@answer.IsRight</td>
                @if (questionService.isOwnedBy(Model.Id, User.Id()))
                {
                    <td><a class="btn btn-danger" asp-action="@nameof(AnswersController.Delete)" asp-controller="Answers" asp-route-id="@answer.Id" asp-route-questionId="@answer.QuestionId"></a>Delete</td>
                }
            </tr>
            number++;
        }
    </tbody>
</table>