@model QuizGameSessionServiceModel
@{
    ViewBag.Title = "Let's the Qiuz begin";
}
<form method="post">
    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10 col-lg-10">
                <div class="border">
                    <div class="question bg-white p-3 border-bottom">
                        <div class="d-flex flex-row justify-content-between align-items-center mcq">
                            <h4>@ViewBag.Title</h4><span></span>
                        </div>
                    </div>
                    <div class="question bg-white p-3 border-bottom">
                        <div class="d-flex flex-row align-items-center question-title">
                            <h3 class="text-danger">Q. @Model.OrderNumber</h3>
                            <h5 class="mt-1 ml-2">@Model.Question.Content</h5>
                        </div>
                        @foreach (var answer in Model.Question.Answers)
                        {
                            <div class="ans ml-2">
                                <label>
                                    <input asp-for="Question.Answers" type="radio" name="AnswerId" value="@answer.Id" /> <label asp-for="Question.Answers">@answer.Content</label>
                                </label>
                            </div>
                        }
                    </div>
                    <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
                        <button class="btn btn-primary d-flex align-items-center btn-success" type="button">Next<span class="carousel-control-next-icon"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>